@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script:wght@500&display=swap');

* {
    margin: 1px;
    padding: 1px;
    border: 0;
    }

body {
    font-family: 'Crimson Text', serif;
    text-transform: lowercase;
    color:black;
    }
header { height: 80px;}

h1 {
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    color: black;
    text-align: center;
    height: 1px;
    }

h1, a{
    text-decoration: none;
}

#menu {
    width: 100%;
    overflow: auto;
  }
  
#menu a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 22%; 
    text-align: center;
    text-transform: uppercase;
  }
  
  #menu a:hover {
    text-decoration: blue;
    font-size: 200%;

  }
  @media screen and (max-width: 500px) {
#menu a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;}
  }

  li {
    display: inline;
}

#vineyard {
    height: 400px;
    background-image: url('../images/main-image-wineyard.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}